= simple_form_for(@person) do |f|
  = f.error_notification message: "Došlo k #{@person.errors.count} chybám"

  .form-inputs
    = f.input :name, label: 'Jméno'
  .form-group
    = f.button :submit, 'uložit', class: 'btn-primary'
