<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author.name %>
</p>

<p>
  <strong>Portion count:</strong>
  <%= @recipe.portion_count %>
</p>

<p>
  <strong>Recipe category:</strong>
  <%= @recipe.category.name %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
