<!DOCTYPE html>
%html
  %head
    %title Recipes
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
      .container
        .navbar-header
          = link_to 'Recepty', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Autoři', people_path

    .container
      = yield
