<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr/>
<%= link_to 'Lidé', people_path %>
<%= link_to 'Kategorie ingrediencí', ingredient_categories_path %>
<%= link_to 'Jednotky', units_path %>
<%= link_to 'Kategorie receptů', recipe_categories_path %>

</body>
</html>
